/* Set Up =====
============= */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-desat-cyan: hsl(180, 29%, 50%);
  --clr-light-grayish-cyan: hsl(180, 52%, 96%);
  --clr-cyan-filters: hsl(180, 31%, 95%);
  --clr-dark-cyan: hsl(180, 8%, 52%);
  --clr-very-dark-cyan: hsl(180, 14%, 20%);
  --fw-med: 500;
  --fw-bold: 700;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background: var(--clr-light-grayish-cyan);
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  margin: 0;
}

header {
  background: var(--clr-desat-cyan);
  margin-bottom: 4em;
}

.desktop-header {
  display: block;
}

.mobile-header {
  display: none;
}

/* Components ====
================ */

.btn {
  font-size: 14px;
  font-weight: var(--fw-bold);
  font-family: "Spartan", sans-serif;
  padding: 0.5em;
  border-radius: 5px;
}

.btn-tag {
  background: var(--clr-light-grayish-cyan);
  color: var(--clr-desat-cyan);
  border: none;
  transition: all 0.25s linear;

  &:hover {
    cursor: pointer;
    color: var(--clr-light-grayish-cyan);
    background: var(--clr-desat-cyan);
  }
}

.filter-btn {
  display: flex;
  align-items: stretch;

  p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    pointer-events: none;
  }

  button {
    color: white;
    background: var(--clr-desat-cyan);
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 2.5em;
    font-weight: var(--fw-bold);
    transition: all 0.25s linear;

    &:hover {
      background: var(--clr-very-dark-cyan);
      cursor: pointer;
    }
  }
}

.clear-btn {
  background: transparent;
  border: none;
  color: var(--clr-desat-cyan);
  position: relative;

  &::after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background: var(--clr-desat-cyan);
    transition: all 0.25s linear;
  }

  &:hover {
    cursor: pointer;

    &::after {
      width: 100%;
    }
  }
}

/* Filter Bar =====
=============== */

.filter-bar {
  background: white;
  width: 90%;
  max-width: 1000px;
  margin: -5.5rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* Job Listing ====
================= */

.job-listing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding: 2em 3em;
  background: white;
  margin: 2em auto;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.job-listing-featured {
  border-left: 5px solid var(--clr-desat-cyan);
}

.details-top {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.job-company {
  color: var(--clr-desat-cyan);
  font-weight: var(--fw-bold);
}

.job-position {
  color: var(--clr-very-dark-cyan);

  &:hover {
    cursor: pointer;
    color: var(--clr-desat-cyan);
  }
}

.details-bottom {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  color: var(--clr-dark-cyan);
  position: relative;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-left: auto;
}

.new-tab {
  background: var(--clr-desat-cyan);
  color: white;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: var(--fw-bold);
  border-radius: 50px;
  padding: 0.75em;
}

.featured-tab {
  background: var(--clr-very-dark-cyan);
  color: white;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: var(--fw-bold);
  border-radius: 50px;
  padding: 0.75em;
}

/* Media queries =====
=============== */

@media (max-width: 800px) {
  .filter-bar {
    margin-bottom: 4em;
  }

  .job-listing {
    position: relative;
    display: block;
    margin-bottom: 4em;
    padding: 2em 1em;
  }

  .job-logo {
    width: 4rem;
    position: absolute;
    top: -30px;
  }

  .job-position {
    font-size: 1rem;
  }

  .details-top {
    margin-top: 1em;
  }
  .details-bottom {
    width: max-content;
    margin-bottom: 3em;
  }

  .details-bottom::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--clr-dark-cyan);
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

@media (max-width: 375px) {
  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: none;
  }
}
